@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion {
  display: flex;
  flex-direction: column;
  @include m.desktop {
    flex-direction: row;
    align-items: center;
  }
  &__enlace {
    color: v.$blanco;
    font-size: 1.8rem;
    padding: 2rem;
    font-weight: v.$black;
    text-transform: uppercase;
    text-align: center;

    &--actual {
      background-color: v.$blanco;
      color: v.$azul;
    }
    &:hover {
      background-color: v.$blanco;
      color: v.$azul;
    }
  }
}