@use 'base/variables' as v;
@use 'base/mixins' as m;

.menu-redes {
  @include m.menu-social(v.$blanco, 2rem);
  display: flex;
  justify-content: center;
  @include m.tablet {
    justify-content: end;
  }
  gap: 2rem;
  margin: 4rem 0;
}