@use 'sass:color';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.speakers {

  &__grid {
    @include m.contenedor;
    @include m.grid(1, 5rem);
    @include m.tablet {
      @include m.grid(2, 5rem);
    }
    @include m.xl_desktop {
      @include m.grid(3, 5rem);
    }
  }
}

.speaker {
  @include m.card;
  border: 1px solid color.scale($color: v.$azul, $lightness: 75%);
  
  &:hover {
    border: 1px solid color.scale($color: v.$azul, $lightness: 25%);
  }

  background-position: center top;
  background-size: 35rem;
  background-repeat: no-repeat;

  @for $i from 1 through 4 {
    &:nth-child(4n + #{$i}) {
      background-image: image-set(
        url('/img/bg_#{$i}.avif') 1x,
        url('/img/bg_#{$i}.webp') 1x,
        url('/img/bg_#{$i}.png') 1x
      );
    }
  }


  &__nombre {
    font-weight: v.$black;
    font-size: 2.6rem;
    margin: 2rem;
  }

  &__imagen {
    min-width: 300px;

    @include m.tablet {
      min-width: unset;
    }
  }

  &__ubicacion {
    color: v.$gris;
    margin: 1rem 0;
    font-size: 2rem;
    line-height: 1.5;
  }

  &__listado-skills {
    @include m.tags;

    > li {
      &:hover {
        cursor: default;
      }
    }
  }
}

.speaker-sociales {
  @include m.menu-social(v.$negro, 3rem);
  display: flex;
  gap: 2rem;
  margin: 1rem 0;
}