@use 'sass:color';

@use 'base/variables' as v;
@use 'base/mixins' as m;

.agenda {
  @include m.contenedor;
}

.eventos {
  $modificador: &;

  &__heading {
    color: v.$azul;
    margin: 5rem 0;
    text-align: left;
    font-size: clamp(2rem, -0.8rem + 8vw ,6rem);
  }

  &__fecha {
    color: v.$gris;
    margin: 3rem 0 1rem 0;
  }

  &--workshops {
    #{$modificador}__heading {
      color: v.$secundario;
    }
  }
}

.evento {

  &__hora {
    font-weight: v.$bold;
  }

  &__informacion {
    @include m.card;
    background-color: v.$azul;
    color: v.$blanco;
    transition: 300ms background-color ease;

    &:hover {
      background-color: color.scale($color: v.$azul, $lightness: -10%);
    }
  }

  &__introduccion {
    font-size: 1.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include m.tablet {
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
  }
  
  &__autor-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__imagen-autor {
    width: 5rem;
    background-color: v.$blanco;
    border-radius: 50%;
  }

  &__autor-nombre {
    font-weight: v.$bold;
  }
}