@use 'sass:color';

@use 'base/variables' as v;
@use 'base/mixins' as m;

.agenda {
  @include m.contenedor;
}

.eventos {
  $modificador: &;

  &__heading {
    color: v.$azul;
    margin: 5rem 0;
    text-align: left;
    font-size: clamp(2rem, -0.8rem + 8vw ,6rem);
  }

  &__fecha {
    color: v.$gris;
    margin: 3rem 0 1rem 0;
  }

  &--workshops {
    #{$modificador}__heading {
      color: v.$secundario;
    }

    .evento__informacion {
      background-color: v.$secundario;
      &:hover {
        background-color: color.scale($color: v.$secundario, $lightness: -10%);
      }
    }
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: rgba(v.$blanco, .5);
  }

  .swiper-pagination-bullet {
    background-color: v.$gris-oscuro;
  }
}


.evento {
  
  &.swiper-slide {
    min-height: 370px;

    @include m.tablet {
      min-height: 350px;
    }
  }

  &__hora {
    font-weight: v.$bold;
  }

  &__informacion {
    @include m.card;
    background-color: v.$azul;
    color: v.$blanco;

    &:hover {
      background-color: color.scale($color: v.$azul, $lightness: -10%);
    }
    
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__nombre {
    font-size: 2.4rem;
    margin: 0 0 2rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__introduccion {
    font-size: 1.6rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-wrap: wrap;

    @include m.tablet {
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
  }
  
  &__autor-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__imagen-autor {
    width: 5rem;
    background-color: v.$blanco;
    border-radius: 50%;
  }

  &__autor-nombre {
    font-weight: v.$bold;
  }
}