@use 'sass:color';

@use 'base/variables' as v;
@use 'base/mixins' as m;

.paquetes {

  &__grid {
    @include m.contenedor;
    @include m.grid(1, 3rem);
    @include m.tablet {
      @include m.grid(3, 3rem);
      align-items: stretch;
    }
  }
}

.paquete {
  @include m.card;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &:nth-child(2) {
    order: -1;
    border: 3px solid color.scale($color: v.$azul, $lightness: -25%);
    background-color: color.scale($color: v.$azul, $lightness: 75%);

    @include m.tablet {
      order: unset;
    }
  }

  &__nombre {
    font-weight: v.$black;
    font-size: 2.6rem;
    margin: 2rem;
  }

  &__lista {
    @include m.reset-lista;
    line-height: 2;
    color: v.$gris-oscuro;
  }

  &__precio {
    font-size: 6rem;
    margin: auto 0 0 0;
    color: v.$azul;
    font-weight: v.$black;
    text-align: center;
    letter-spacing: -0.1rem;
  }
}
